[2018-06-15 16:10] thanhson1085 opened #7 "Fix links to Sections"
Pandoc convert Latex to Markdown has some issue with links to header.
For example:
`Section[34m| \[Sec:relatedwork\]`

It should be:
`Section: [relatedwork](#Sec:relatedwork)`

We should fix it manually

[2018-06-15 16:12] thanhson1085 commented on #7
@benjyz , can you help this issue?

[2018-06-16 05:17] benjyz opened #9 "whitepaper v1.0 improvements"
* future version should expand on the section "Economic sustainability" (it is mentioned there: We will publish a TomoChain economic analysis and proposal, separate from this technical paper in a later date)

* typo in "enables a more incentive equality between stakers:"

[2018-06-18 04:31] #7 closed

[2018-06-18 04:33] thanhson1085 opened #10 "Support multiple languages"
The site should support multiple languages

[2018-06-18 04:34] thanhson1085 opened #11 "Add logo for site"
Add logo tomochain to docs site

[2018-06-18 04:34] thanhson1085 opened #12 "Modify footer, add link to tomochain social site"
Github, telegram, facebook ...

[2018-06-18 15:34] #12 closed

[2018-06-18 15:54] thanhson1085 opened #13 "Outline of the documentation"
I propose the outline:

- Home: index.md
- Get started
    - Beginer's Guide
    - Coin Holder's Guide
    - Masternode's Guide
- Technical Whitepaper
- Tomochain
    - Testnet
    - Mainnet
- Block Explorer
- Governance DApp
- Building DApp on top Tomochain
- Research
    - Sharding Nodes
    - Sharding Networks
    - Permissioned blockchain
- Contributing
    - Guidelines
    - Github
- FAQ
- Ab

[2018-06-21 18:10] etienne-napoleone commented on #11
I think it can be closed as thanhson1085@5c45a2a4e3e7d7fe92cc4bd0317011fd7f7042c8

[2018-06-21 18:11] etienne-napoleone commented on #11
I think it can be closed as thanhson1085@5c45a2a4e3e7d7fe92cc4bd0317011fd7f7042c8

[2018-06-21 18:11] etienne-napoleone commented on #11
I think it can be closed as thanhson1085@5c45a2a4e3e7d7fe92cc4bd0317011fd7f7042c8

[2018-06-21 18:11] #11 closed

[2018-06-21 18:17] etienne-napoleone commented on #9
typo fixed in thanhson1085@322abd8e594c38f8d34623b937f7439c106b7918

[2018-07-02 04:21] thanhson1085 opened #18 "Add FAQ page"
should move FAQ from site to docs and github.

[2018-07-02 04:22] thanhson1085 commented on #18
fix #17

[2018-07-02 04:22] #18 closed

[2018-07-05 03:42] thanhson1085 opened #19 ""How to become Masternode" in testnet"
We should have a document to guide user (step by step) to run a node, and apply to become a masternode.

[2018-09-05 14:31] #13 closed

[2018-09-05 14:32] #9 closed

[2018-09-06 03:48] thanhson1085 opened #32 "Need make docs page more SEO friendly"
Docs page, tutorials will be shared on a lot of social networks. So we need to make it more friendly with social crawler. So it will have a beautiful present on social networks.

[2018-09-14 08:49] etienne-napoleone commented on #19
https://docs.tomochain.com/get-started/run-node/
done here

[2018-09-14 08:49] #19 closed

[2018-09-30 15:59] thanhson1085 opened #46 "Add menu 'Release notes'"
This part is for announcing some important releases of tomo's products like `tmn, tomochain, tomomaster ...`

[2018-10-03 10:47] etienne-napoleone opened #50 "Rework top level of documentation"
I think it's quite important that we rework the documentation structure.
Our docs.tomochain.com will have documentations for at least five products:
- TomoChain Go client
- TomoMaster
- TomoScan
- TomoWallet
- Masternode related stuff (tmn, images, etc)

In addition to that, there is a lot of research, business related categories like:
- use cases
- whitepapers
- faq
- etc

The current organizatio

[2018-10-03 10:56] thanhson1085 commented on #50
Nice re-structure. Where can we add "release notes"  like https://squidfunk.github.io/mkdocs-material/release-notes/?

[2018-10-03 11:05] thanhson1085 commented on #50
Agree for per-project release notes. (submenu for per-projects)

Where we can add some articles like "how to install MN on DigitalOcean?"
"how to" article should be posted on Medium or the docs site or some where?

[2018-10-03 11:16] etienne-napoleone commented on #50
Ok, I will create an issue for that as it's not directly related to the structure but a feature in itself :+1:

The tutorials, howtos, steps by steps, articles, etc will be posted on medium yes! But the organization/planning will use issues/milestones/projects of this repo

[2018-10-04 09:53] #50 closed

[2018-10-08 09:43] etienne-napoleone opened #53 "Article on the supposed EOS/Huobi "scandale""
**Estimated time:** 5h

---------------

**Why:**
In short, Huobi, famous Chinese exchange, has been accused of abusing the EOS voting system for profit.
Our governance system share certain characteristics as outlined in a previous article written by @phamvancam2104 [TomoChain vs EOS.io](https://medium.com/tomochain/tomochain-vs-eos-io-the-battle-of-posv-vs-dpos-or-just-some-coincidence-of-design-

[2018-10-08 09:59] etienne-napoleone opened #54 "Article on how to run a masternode from A to Z"
**Estimated time:** 5h

---------------

**What:**
Step by step guide on how to run a masternode on Digital Ocean with `tmn`.
From creating a droplet to the node being elected.

[2018-10-08 10:02] etienne-napoleone opened #55 "Video on how to run a masternode from A to Z"
**Estimated time:** 6h

---------------

**What**:
Step by step guide on how to run a masternode on Digital Ocean with tmn.
From creating a droplet to the node being elected.

[2018-10-08 10:08] etienne-napoleone opened #56 "Video on how to vote from A to Z"
**Estimated time:** 3h

---------------

**What:**
Step by step guide on how to vote on TomoMaster.
From creating a wallet to receiving rewards.

[2018-10-09 03:45] etienne-napoleone commented on #54
@DuqueKarl You can find the contribution guidelines for the docs repo in the [readme](https://github.com/tomochain/docs#contribution-guideline).
I'm of course available for any question!

[2018-10-10 02:58] etienne-napoleone commented on #55
Waiting on new mic

[2018-10-10 02:58] etienne-napoleone commented on #56
Waiting on new mic

[2018-10-10 04:56] ngtuna opened #57 "Article explains our slash mechanism on tomochain"
**Estimated time:** 2h

---------------

**Why:** We have injected a simple slashing mechanism into POSV consensus. In general POS, slashing is an important feature to penalize bad staker/masternode who does some bad works which affects to the overall network. All POS competitiors such as Ethereum, EOS, etc they also include slashing in their implementation. We should have one article explaining o

[2018-10-11 07:38] etienne-napoleone opened #61 "Rework use cases"
**Estimated time:** 2h

---------------

**Why:**
The use case section of the documentation was written a long time ago. We now have a lot of partners who would fill this section really easily.

**What:**
Update [this page](https://docs.tomochain.com/general/use-cases/) with actual partners

[2018-10-11 09:13] etienne-napoleone opened #62 "Article about economic incentive and penalty for participants in the TomoChain ecosystem"
**Estimated time:** 5h

---------------

**Why:**
An article about this subject would help people understand how the system is using the economic incentive and game theory to ensure the best performance and a stable ecosystem.

**What:**
The article should explain the economical benefits and penalties to the participants in the ecosystem.
Important points:
- block rewards
- token lockup time for b

[2018-10-12 03:38] etienne-napoleone commented on #61
merged in #63

[2018-10-12 03:38] #61 closed

[2018-10-12 04:45] anhntv2012 commented on #62
Not at the moment, Etienne :D Thanks for asking ^_^

[2018-10-13 15:27] thanhson1085 opened #65 "Add TomoChain sharding proposal"
**Estimated time:** 2h

---------------

**Why:**
- More SEO friendly than Google Docs
- User can read  TomoChain sharding proposal in the docs site

**What:**
TomoChain sharding proposal https://docs.google.com/document/d/1u7TajABjbllZTAkz741wqvbP5v4t4HvJq935rpefvBE/edit

[2018-10-13 15:29] thanhson1085 opened #66 "Add TomoChain economics paper"
**Estimated time:** 2h

---------------

**Why:**
- More SEO friendly than Google Docs
- User can read TomoChain sharding proposal in the docs site

**What:**
TomoChain economics paper https://docs.google.com/document/d/197Cu57A6OYPoEQbrUVr067qNVEzP_FEwaDCFff7hnlM/edit

[2018-10-16 03:11] etienne-napoleone commented on #66
closed in #67

[2018-10-16 03:11] #66 closed

[2018-10-16 10:32] etienne-napoleone commented on #57
@patrickburm will review the english on this article.
**Estimated time**: 1h30

[2018-10-16 22:18] bluebottleco commented on #62
@etienne-napoleone Please find below a draft of the article. Let me knows if there is anything you would like me to add or change. Thank you!
https://medium.com/@eric585696/tomochain-how-a-stable-ecosystem-is-created-8d09717ce755

[2018-10-17 04:14] etienne-napoleone commented on #62
Thanks @bluebottleco !
Just read it and it's concise and clear, I like it.
I added a comment on the `Elimination of Weak Masternodes` part, I'll let you check.
Maybe @anhntv2012 has any comment regarding to content?
And @alex9121 regarding to the layout? (ex: image used?)

[2018-10-17 04:28] etienne-napoleone commented on #65
merged in #68

[2018-10-17 04:28] #65 closed

[2018-10-17 07:07] bluebottleco commented on #62
@etienne-napoleone Thank you for the feedback. I made updates to that section per your comments.

[2018-10-17 07:29] alex9121 commented on #62
Thanks guys.
When are you going to publish it?

[2018-10-17 07:56] anhntv2012 commented on #62
Hi @bluebottleco Very nice to meet you.

I would like to have some comments as follows:

1. Lock times:
"Tokens that are staked through voting can be withdrawn to a personal wallet and used to vote for another candidate, but the tokens will be locked for the next 48 hours (86,400 blocks) after they are withdrawn."
The tokens will be locked for the next 48 hours after the unvoting. They can only be

[2018-10-17 08:08] etienne-napoleone commented on #62
@anhntv2012 I agree with those points! Thanks!

Although point 3 has already been updated since you read it. But it needs a new change in my opinion:

@bluebottleco you might have taken my remark too literally, the 50% was an example and it's not fixed.
Let's say a healthy mn during an epoch does 1000 actions (creating blocks, validating blocks, etc.) and receive 1000 TOMO
if it would have done on

[2018-10-17 08:09] bluebottleco commented on #62
I appreciate the feedback and will incorporate the comments now. Thanks!

[2018-10-17 10:09] bluebottleco commented on #62
@etienne-napoleone I have finished incorporating all the comments. Please let me know if there is anything else I should change. Thanks!

Article: https://medium.com/@eric585696/tomochain-how-a-stable-ecosystem-is-created-8d09717ce755

[2018-10-17 17:41] DuqueKarl commented on #54
@etienne-napoleone Please find below a draft of the article. Let me know if there is anything you would like me to add or change. Thank you!

https://docs.google.com/document/d/17Lg0cD8PyFZIf_0pGpIp7f-bKgkUhm_lC2wijCtL8_4/

[2018-10-18 03:54] etienne-napoleone commented on #62
Thanks @bluebottleco, all the mentioned points look good now. It's all good for me now!
We just need to check with @alex9121 how to add your medium account as writer for the TomoChain publications channel

[2018-10-18 04:12] etienne-napoleone commented on #57
Changed english review from @patrickburm to @bluebottleco

[2018-10-18 09:06] bluebottleco commented on #57
@phamvancam2104 I really enjoyed reading this article and genuinely learned a lot about slashing from reading it.

I made some suggestions in terms of grammer/wording on the google doc below.
https://docs.google.com/document/d/1GIVL21DzorVQKT7WY7FTm3Ef8oc2EZ8oi4sBni5OVAY/edit?usp=sharing

[2018-10-18 09:14] phamvancam2104 commented on #57
Thank you very much, @bluebottleco, your comments are greatly useful and I really appreciate. I'll incorporate your comments. If you have any other feedback, I'd love to see it.

[2018-10-18 09:34] phamvancam2104 commented on #57
I've incorporated all comments from @bluebottleco, if anyone of you has some more feedback, please let me know. Thanks

[2018-10-18 10:08] etienne-napoleone commented on #57
Looks great to me. I will check with @alex9121 for publishing time.
@phamvancam2104 Can you submit it to the TomoChain publications?

[2018-10-18 10:41] phamvancam2104 commented on #57
just submitted, please check it @etienne-napoleone

[2018-10-18 11:58] patrickburm commented on #53
https://docs.google.com/document/d/1lVrUr2DszntLa9lpb_I9LbZFMM2M3AC86HJfAh5NOZA/edit?usp=sharing

[2018-10-18 14:55] DuqueKarl commented on #54
@etienne-napoleone
I have prepared the article for publishing on Medium. Please, find below a draft of the writing. Let me know your suggestions to add or change to improve the article. Thank you!

https://medium.com/p/3793752dc3d1/

[2018-10-19 03:06] etienne-napoleone commented on #57
Thanks @phamvancam2104! Closing this issue. @alex9121 and marketing team will integrate it in their publication schedule.

[2018-10-19 03:06] #57 closed

[2018-10-19 03:08] etienne-napoleone commented on #62
@bluebottleco Everything has been validated, thanks! @alex9121 and marketing team will incorporate it in their publication schedule.

[2018-10-19 03:08] #62 closed

[2018-10-19 04:17] etienne-napoleone commented on #46
[Done](https://docs.tomochain.com/general/changelog/) in #70

[2018-10-19 04:17] #46 closed

[2018-10-19 10:42] etienne-napoleone commented on #53
@anhntv2012 will take a look at that to make sure it's in line with our editorial line (pretty sensitive subject I guess!)

[2018-10-22 03:14] etienne-napoleone commented on #53
After review, even if the article takes a neutral stance, we don't want to go in this direction with the publications.

[2018-10-22 03:14] #53 closed

[2018-10-22 03:14] etienne-napoleone commented on #53
After review, even if the article takes a neutral stance, we don't want to go in this direction with the publications.

[2018-10-22 03:20] etienne-napoleone commented on #53
After review, even if the article is written with a quite neutral point of view, we decided to not publish because we might not want to take the editorial line this way.

[2018-10-22 03:20] etienne-napoleone commented on #53
After review, even if the article is written with a quite neutral point of view, we decided to not publish because we might not want to take the editorial line this way.

[2018-10-23 04:44] etienne-napoleone commented on #54
The article content is now ok. @alex9121 you can enhance and publish it when you want

[2018-10-23 04:44] #54 closed

[2018-10-23 04:56] etienne-napoleone opened #71 "Article on comparing EOS, Lisk and TomoChain reward engine"
**Estimated time:** 5h

---------------

**Why:**
As a following to the discarded article https://github.com/tomochain/docs/issues/53, it might be better to offer a flat comparison between our voting rewards and vote manipulation possibilities rather than focusing on the problems of one of them.

**What:**
A technical comparison between EOS, Lisk and TomoChain focus on the reward system. Their adv

[2018-10-23 05:19] etienne-napoleone opened #72 "Article on how to vote from A to Z"
**Estimated time:** 4h

---------------

**Why:**
Follow up to https://github.com/tomochain/docs/issues/54, we also need a A to Z tutorial for voting

**What:**
An article explaining how to vote from A to Z. "A" being creating a wallet and "Z" receiving rewards from your staking.
Should include:
- Creating a wallet
- Connecting the wallet to testnet(metamask) and TomoMaster
- Chosing a Masternode

[2018-10-23 05:20] etienne-napoleone commented on #72
Also please @Leoloup , can you give me your medium handle (create an account if you don't have one already) and we will add you to the TomoChain publications team on medium as writer

[2018-10-23 05:34] etienne-napoleone opened #73 "Documentation on running tmn"
**Estimated time:** 3h

---------------

**Why:**
We want [docs.tomochain.com](https://docs.tomochain.com) to have documentation on all our products.

**What:**
Under a new top menu entry called `Masternode`, we will explain the different ways of running a Masternode.
https://github.com/tomochain/docs/blob/b6d10731dd3861ba241a3ac1e0e423ca574c1cd6/mkdocs.yml#L76-L82
To begin with, we will add the "

[2018-10-23 07:16] thanhson1085 opened #74 "Use Ledger with TomoChain"
**Estimated time:** 4h

---------------

**Why:**
To guide user use Ledger with TomoChain

**What:**
Suggestion for steps:
- Use Myetherwallet, connect Ledger and TomoChain Testnet
- Use TomoWallet, send 10 TOMO to Ledger address
- Send back from Ledger to TomoWallet
- Check Tx on TomoScan

[2018-10-24 04:35] etienne-napoleone opened #75 "Documentation on applying your node"
**Estimated time:** 2h

---------------

**What:**
Explications on how to apply your masternode on TomoMaster. It will be quite redundant with the [get started](https://docs.tomochain.com/get-started/apply-node/) except it will not be specific to Testnet. No formular.
It should contain:
- When to apply
- Implication of applying
- Requirements to apply (50k TOMO)
- How to apply
- Why/when resigning

[2018-10-24 05:15] etienne-napoleone opened #76 "Documentation on TomoMaster features"
**Estimated time:** 4h

---------------

**What:**
This will be in the same line as the test you were given to become technical writers.
We need to have some explaining on how to use and contribute to TomoMaster.
This part will be about the TomoMaster features and how to use them.
It should include:
- [Home](https://master.testnet.tomochain.com/)
  -  Network Status
  -  Candidates list
  - Voting

[2018-10-24 08:06] etienne-napoleone opened #77 "Documentation on TomoScan features"
**Estimated time:** 4h

---------------

**What:**
We need to have some explaining on how to use and contribute to TomoScan.
This part will be about the TomoScan features and how to use them.
It should include:
- [Home](https://scan.testnet.tomochain.com/)
  - Search
  - General informations
- [Transactions](https://scan.testnet.tomochain.com/txs)
  - All transactions
  - Sign transactions
  - Pen

[2018-10-24 08:42] etienne-napoleone opened #78 "Documentation on running a node with docker images"
**Estimated time:** 3h

---------------

**Why:**
We want [docs.tomochain.com](https://docs.tomochain.com) to have documentation on all our products.

**What:**
Under a new top menu entry called `Masternode`, we will explain the different ways of running a Masternode.
https://github.com/tomochain/docs/blob/b6d10731dd3861ba241a3ac1e0e423ca574c1cd6/mkdocs.yml#L76-L82
We need to add an explanation on

[2018-10-25 03:44] anhntv2012 commented on #71
Hi @patrickburm , nice to meet you :)

The introduction of article is good. I love the way you presented the development of consensus mechanisms.

There are some points I would like you to consider:

1. There is no reward comparison in your article.

2. Rather than devoting a whole paragraph to each project, it'll be clearer to talk about one point of comparison/contrast at a time (discuss a certa

[2018-10-25 08:00] etienne-napoleone commented on #71
Thanks for the feedback @anhntv2012 , I agree with the points you raised.
@patrickburm Can you update the draft regarding to the comments?

[2018-10-25 08:52] patrickburm commented on #71
Thanks for your feedback and nice to meet you too! :) @anhntv2012
I will update the article regarding those aspects and share the draft on medium once it's done.

[2018-10-25 08:59] etienne-napoleone commented on #71
@patrickburm Cool, can you post the link to the draft here also?

[2018-10-25 09:02] patrickburm commented on #71
Yes, it's more easier for everyone if I just post the medium drafts here instead of google docs link right?

[2018-10-25 09:06] etienne-napoleone commented on #71
I do think so :)

[2018-10-26 12:31] patrickburm commented on #71
This is how it looks now:
https://medium.com/p/9b3b26560392/edit

[2018-10-26 22:55] Leoloup commented on #72
https://medium.com/tomochain/how-to-vote-from-a-to-z-using-tomomaster-2f8948b436a5 Draft link

[2018-10-27 00:51] bluebottleco commented on #74
@etienne-napoleone
Please find below my draft of the article. Let me know if you have any feedback, thanks!

https://medium.com/@eric585696/using-your-ledger-wallet-with-tomochains-testnet-e8404e8e541e

[2018-10-28 06:30] bluebottleco commented on #76
The file is called tomomaster.md on branch tw/76

https://github.com/tomochain/docs/tree/tw/76/docs/general

[2018-10-29 03:51] etienne-napoleone commented on #73
merged in #79

[2018-10-29 03:51] #73 closed

[2018-10-29 03:57] etienne-napoleone commented on #74
Looks all good to me! :+1:
@bluebottleco Please publish it under the TomoChain channel with "add to publication" and then "ready to publish"
![screenshot from 2018-10-29 10-56-27](https://user-images.githubusercontent.com/26155267/47628684-50e47a80-db69-11e8-85ca-90a41eccc5fd.png)
In general you can use that for our review as this will not publish it directly but allow all editors from the TomoCha

[2018-10-29 03:57] #74 closed

[2018-10-29 04:02] etienne-napoleone commented on #78
Moved to sprint 3 as @patrickburm needs more time to get used to the tech

[2018-10-29 04:07] etienne-napoleone commented on #71
@anhntv2012 and @phamvancam2104 could you take a look?

[2018-10-29 04:34] bluebottleco commented on #74
@etienne-napoleone Okay, just did that with the article. I will do this in the future as well. Thanks!

[2018-10-29 06:11] etienne-napoleone commented on #72
Thanks @Leoloup !
I edited the document a lot because we would like to publish this asap (it will help with the hunting game).
For me it's ready now :) Closing this issue.

@alex9121 please read it before publishing, if you see something weird just tell me.

[2018-10-29 06:11] #72 closed

[2018-10-29 06:15] alex9121 commented on #72
Thanks everyone.
I will check it again before publishing.
My plan is to publish it before the game hunter is on so I can attach the guideline for members to follow.

[2018-10-29 07:53] etienne-napoleone commented on #76
merged in #81

[2018-10-29 07:53] #76 closed

[2018-10-29 08:54] etienne-napoleone opened #82 "Review dex whitepaper"
**Estimated time:** 3h

---------------

**Why:**
Our researcher @phamvancam2104 is writing a paper on our decentralized exchange.

**What:**
 It will need English review.

Note: @phamvancam2104 , if you don't want to publish the draft publicly, you can send it to me and I'll forward it to @bluebottleco

[2018-10-29 09:13] etienne-napoleone opened #83 "Announcment about TomoChain JP office"
**Estimated time:** 2h
**Reviewed by:** @anhntv2012

---------------

**Why:**
TomoChain is opening an office in Japan and want to communicate about it through medias.

**What:**
A medium announcement article that we can share to our community and to other medias.

**Related ressources:**
- JP office video presentation draft (private)
- [other announcments](https://medium.com/tomochain/english/hom

[2018-10-29 09:44] anhntv2012 commented on #71
Hi @patrickburm

The updated article is better than the previous one.
Still, I'd like you to consider the following suggestions:

1. You already discussed one main point of comparison at a time for all 3 projects. However, it still needs to be clearer. If one thing is mentioned about 1 project, it should be also talked about in the other 2.
I put below all main points for ease of explanation:
***

[2018-10-30 01:01] Leoloup opened #85 "Waiting for update after talking about it on telegram"
_Originally posted by @etienne-napoleone in https://github.com/tomochain/docs/pull/80#issuecomment-433778982_

[2018-10-30 02:46] #85 closed

[2018-10-30 09:11] bluebottleco commented on #83
@etienne-napoleone

I looked at a few other articles about new office openings and they were generally pretty short. I put the draft on google docs for now. Other than general feedback I had a few comments/questions regarding changes to what I wrote before updating it to medium (unless the team would like to post it through their own official medium account)
1. Please let me know if there is bette

[2018-10-30 09:41] anhntv2012 commented on #83
Thank you @bluebottleco You are quick ^_^
The time for the announcement will be decided later and it will be posted in our official channels as well as several media. I'll add some more information directly to the draft. I'll let you know when it's done so you can edit it for me.

Thank you
Anh

[2018-10-30 10:55] anhntv2012 commented on #83
@bluebottleco blu
Please have a look and edit the final draft.
Much appreciated.

[2018-10-30 13:31] patrickburm commented on #71
Thanks again for your feedback! @anhntv2012

[2018-11-01 10:49] #83 closed

[2018-11-01 10:49] etienne-napoleone commented on #83
Approved by @anhntv2012 as done

[2018-11-01 21:40] patrickburm commented on #71
Please check again @anhntv2012  @phamvancam2104  @etienne-napoleone
best regards!

[2018-11-02 03:18] anhntv2012 commented on #71
Hi, for me it's good for publishing now.
Just a minor addition:
"If a TomoChain masternode/**masternode candidate** would resign, the 50k TOMO he deposited would be locked in the voting smart contract from that time for 30 days."

@phamvancam2104  @etienne-napoleone How do you think?

[2018-11-02 03:31] etienne-napoleone commented on #71
@phamvancam2104 because his article is submited to the TomoChain channel, all TomoChain editors can view each others comments.

![image](https://user-images.githubusercontent.com/26155267/47892462-62d85d00-de8a-11e8-976c-e63a6eb696e1.png)

[2018-11-02 03:33] phamvancam2104 commented on #71
@etienne-napoleone Great! I did not notice about that :)

[2018-11-02 04:06] phamvancam2104 commented on #71
Hi @patrickburm,
Thank you very much for your great article and I have acquired significant knowledge :). Btw, besides some minors, I think the article is ready to publish.

[2018-11-02 08:40] patrickburm commented on #71
Thank you very much @phamvancam2104 , @anhntv2012 @etienne-napoleone  for this valuable feedback! I implemented your suggestions so I think it should be ready to publish now. I put the comparison table above the Conclusion now. By the way, thank you @phamvancam2104 for the template ;)

[2018-11-02 08:42] etienne-napoleone commented on #71
I'm closing this issue, @alex9121 feel free to incorporate this article in your publications

[2018-11-02 08:42] #71 closed

[2018-11-07 04:49] etienne-napoleone commented on #75
closed by #84

[2018-11-07 04:49] #75 closed

[2018-11-07 04:50] #82 closed

[2018-11-07 07:26] etienne-napoleone opened #88 "Normalize "whitepapers and research" styles"
**Estimated time:** 2h

---------------

**Why:**
It look hectic.
For example, the titles are in thos different formats:
`LEVEL 2 TITLE`
`level 2 title:`
`IV. level 2 title`

**What:**
Normalize the styles of this categories by copying the technical whitepaper style.

[2018-11-07 07:58] etienne-napoleone opened #89 "Article summarizing our experience with Testnet"
**Estimated time:** 6h

---------------

**Why:**
As pointed out by Kris, one of tomochain's telegraf group's admin, there is some confusion in our investor community regarding to technical details related to Testnet. Like why it was quite slow at some points, what can we improve from testnet, performances, etc.

**What:**
An article outlining what is our progress so far with Testnet.
For example,

[2018-11-07 08:11] etienne-napoleone opened #90 "Article vulgarizing what is TomoX"
**Estimated time:** 3h

---------------

**Why:**
Non tech-savvy investors seems to struggle grasping what's TomoX field of application and what it really do.

**What:**
Vulgarization article explaining what is TomoX. What it can do and what it can't.

[2018-11-07 08:12] etienne-napoleone commented on #90
Assigned to: @bluebottleco
Reviewed by: @phamvancam2104

[2018-11-07 10:52] etienne-napoleone commented on #89
Assigned to: @patrickburm
Review / technical assistance: @ngtuna @etienne-napoleone

[2018-11-09 09:28] bluebottleco commented on #90
@phamvancam2104  Please find below my draft of the article. Let me know your thoughts / feedback. Thank you!

I tried to write it so that anyone who has a general understanding of cryptocurrencies with no technical background can understand what TomoX is going to accomplish.

https://medium.com/tomochain/understanding-tomox-tomochains-decentralized-exchange-protocol-2cfe540bc94b

[2018-11-09 09:31] phamvancam2104 commented on #90
Great! Thanks to @bluebottleco. Let me give it a check :)

[2018-11-12 03:50] phamvancam2104 commented on #90
Looks good to me @bluebottleco. @etienne-napoleone @anhntv2012 do you have any opinion?

[2018-11-12 04:02] bluebottleco commented on #90
@phamvancam2104 I made the changes and thank you for looking it over! Appreciate it(:

[2018-11-12 05:10] etienne-napoleone commented on #88
merged in #91

[2018-11-12 05:10] #88 closed

[2018-11-12 07:02] etienne-napoleone commented on #90
@alex9121 This article content is ready to be published, closing this issue

[2018-11-12 07:02] #90 closed

[2018-11-12 07:46] anhntv2012 commented on #90
Great article ^_^
Just a question:
"This means that decentralized exchanges built on TomoChain will not need to spend time and money creating as well as auditing their smart contracts ".
Is it clearer if "TomoChain" is replaced by "TomoX protocol"? Because I think that if they wish, they can build a different protocol on TomoChain and have a DEX on that onel.

[2018-11-12 07:58] phamvancam2104 commented on #90
@anhntv2012 I think your concern is valid. Because TomoX is uniquely integrated into TomoChain, I would rephrase the sentence into: ... decentralized exchanges built *for TomoChain based on TomoX Protocol* will not need...

[2018-11-12 08:02] etienne-napoleone commented on #90
I updated it to ```This means that decentralized exchanges built for TomoChain using the TomoX Protocol will not need to spend time and money creating as well as auditing their smart contracts```
Is it ok with you guys?

[2018-11-12 09:01] etienne-napoleone opened #93 "Documentation on contributing to the documentation website"
**Estimated time:** 6h

---------------

**Why:**
Contributing to the documentation website seems not easy for everybody. It uses a lot of my time helping each others to use the different tools (markdown, git, etc)

**What:**
A markdown file called CONTRIBUTING.md at the root of the project who explains how to contribute.
It should talk about:
- conventions:
    - branching
    - commits
    - mar

[2018-11-12 09:04] etienne-napoleone commented on #93
Assigned to: @DuqueKarl
Reviewed by: @etienne-napoleone

[2018-11-12 10:43] etienne-napoleone commented on #93
Assigned to: @patrickburm
Reviewed by: @etienne-napoleone

Changed to Patrick so he can get more familiar with `git` and our doc website.

[2018-11-13 08:35] ngtuna opened #94 "FAQ structure"
**Estimated time:** ?h

---------------

**what:**
Update the FAQs of the docs website.
We want to structure it this way:
[code]

**how:**
This will be a collaborative work in a few steps:
- Assigned writer and collaborators write and collect questions (shared google docs, link given via pm)
- Questions selections
- Assigned writer organize the documents and write the answers

[2018-11-13 09:30] etienne-napoleone commented on #94
Assigned to: @DuqueKarl
Reviewed by: @etienne-napoleone

[2018-11-19 07:16] etienne-napoleone opened #97 "Add Requirements to masternode section"
**Estimated time:** 1h

---------------

**What:**
Adding a "Requirements" section on https://docs.tomochain.com/masternode/
Need to include:
- Considerations about the responsibilities of running a masternode
- Hardware specifications
- Reputation

**Ressources:**
- https://docs.tomochain.com/get-started/run-node/#general-hardware-notice
- https://medium.com/tomochain/how-to-run-a-tomochain-maste

[2018-11-19 07:53] etienne-napoleone commented on #97
Assigned to: @DuqueKarl
Reviewed by: @etienne-napoleone

[2018-11-19 10:36] etienne-napoleone opened #98 "Draft User's privacy/data protection policy and term of services"
**Estimated time:** 3h

---------------

**Why:**
We need to write ToS and privacy policies for our services (TomoMaster, TomoScan and TomoWallet)

**What:**
Draft ToS and privacy policies for:
- [ ] TomoMaster
- [ ] TomoScan
- [ ] TomoWallet

Also we might want to check GDPR compliance for UE countries.

[2018-11-21 03:32] etienne-napoleone opened #99 "Article announcing partnership"
**Estimated time:** 2h

---------------

**What:**
Writing an article presenting our new partnerships based on the information we will communicate you (should stay private until release).

[2018-11-21 03:34] etienne-napoleone commented on #99
Assigned to: @bluebottleco
Reviewed by: @etienne-napoleone

[2018-11-24 21:03] bluebottleco commented on #98
https://drive.google.com/drive/folders/14s8DGgrzrnHBqkvsU2IdoMdKFXA0yi2M?usp=sharing

Tomoscan and TomoWallet were a bit easier to find ToS and privacy policies that I could base one off of, but it was pretty hard finding a ToS and Privacy Policy to build for TomoMaster.

[2018-11-26 10:49] etienne-napoleone commented on #99
Done

[2018-11-26 10:49] #99 closed

[2018-11-27 03:28] etienne-napoleone opened #102 "How to vote for masternodes using TomoWallet"
**Estimated time:** 2h

---------------

**Why:**
We released a new version of TomoWallet who include voting.

**What:**
A "how to" style article on medium explaining how to vote for a masternode directly from the TomoWallet app.

[2018-12-04 08:35] etienne-napoleone commented on #97
closed in #101

[2018-12-04 08:35] #97 closed

[2018-12-04 08:37] etienne-napoleone commented on #98
I'm closing this issue as the current files are enough to be used as a base.
If any more work is required from technical writers, feel free to reopen

[2018-12-04 08:37] #98 closed

[2018-12-04 08:47] etienne-napoleone commented on #89
Already published

[2018-12-04 08:47] #89 closed

[2018-12-13 07:05] etienne-napoleone commented on #78
done in #104

[2018-12-13 07:05] #78 closed

[2018-12-17 08:43] etienne-napoleone opened #105 "Update get-started/wallet"
**Estimated time:** 2h

---------------

**Why:**
This document is outdated.

**What:**
Should be updated with mainnet informations instead of testnet and the new version of metamask (who let you for ex set the name, chainid, etc.)

[2018-12-17 09:14] etienne-napoleone commented on #105
Assigned to: @DuqueKarl
Reviewed by: @etienne-napoleone

[2018-12-17 09:35] etienne-napoleone opened #106 "Article on TomoChain accounts"
**Estimated time:** 3h

---------------

**Why:**
Investors seems to have little understanding about how accounts works.

**What:**
An article explaining how accounts live on the blockchain, how tools like metamask, mew, cold wallets etc, interact with them. What are addresses, privates keys, public keys, etc.

One of the goal is to educate them about their wallet. We've seen a lot of people askin

[2018-12-17 09:36] etienne-napoleone commented on #106
Assigned to: @bluebottleco
Reviewed by: @etienne-napoleone

[2018-12-21 03:43] etienne-napoleone opened #109 "Write a "get started" for masternode owners"
**Estimated time:** 20h

---------------

**Why:**
We want to split the get started section by user role. One of them is the masternode owner.

**What:**
Needs to be a comprehensive "tutorial" like introduction to running a masternode.
Should include:
- installing deps (docker, python)
- how to use tmn
- running the node
- checking that he's online (on stats)
- applying as candidate on TomoMaster

[2018-12-21 07:57] etienne-napoleone commented on #102
Article is all good, ready for you @alex9121 .
Sorry for the delay @patrickburm . Mainnet launch was intense ;)

[2018-12-21 07:57] #102 closed

[2018-12-21 07:58] etienne-napoleone commented on #93
Any news on this @patrickburm ?
This is quite low priority so if you haven't really started on this, I will assign you other tasks.

[2018-12-22 09:51] bluebottleco commented on #106
Please find below the draft.

A few notes:
- I can add more about explaining a BlockChain account if you think it’s necessary but I kept it short because I think most people likely understand this given they’re using BTC or ETH to buy Tomo.

https://medium.com/@eric585696/blockchain-accounts-82f933f0569a

[2018-12-24 08:35] etienne-napoleone commented on #106
Thanks @bluebottleco ! I added some comments directly on Medium!
Btw you can add it to the TomoChain publication, we will not publish it until it's ready but all the TomoChain editors can view the draft, view other editors comments and comment

[2018-12-24 08:36] etienne-napoleone commented on #94
Hey @DuqueKarl any new on the advancement of the FAQ? Just pm me if you need any help

[2018-12-24 11:02] alex9121 commented on #94
Hi guys,
Please check it out here:  https://docs.google.com/spreadsheets/d/1DJ9VzimKXG2r67POMOdmTXrDLonx2-H-yLw38sZyzGg/edit#gid=0

[2018-12-25 21:56] patrickburm commented on #93
Sorry for my late response @etienne-napoleone , was already in the holiday mood ^^
I already startet on this and Karl also provided me useful information too because this task was related to him once. I would say it's 50% done. But unless I am on holiday till Sunday and will be able to continue working at the end of the week, I think it might be the best if you give me tasks with higher priority a

[2018-12-27 05:17] DuqueKarl commented on #94
https://github.com/tomochain/docs/pull/111

[2018-12-29 09:46] etienne-napoleone commented on #106
Thanks @bluebottleco , the article looks good to me now.
Ready for you @alex9121

[2018-12-29 09:46] #106 closed

[2019-01-10 04:19] phamvancam2104 commented on #93
Is this task ready for review @patrickburm?

[2019-01-10 05:05] phamvancam2104 opened #114 "Guideline how to build DApps on tomochain"
**Estimated time:** [8]h

---------------

(**Why:**)
We don't have an official document on how to build and deploy a simple Dapps on TomoChain, despite the fact that TomoChain is a blockchain infrastructure for practical decentralized applications.

**What:**
The document could be focusing on how to develop a simple smart contract written in Solidity, and deploy it on TomoChain testnet.

The stru

[2019-01-10 06:12] phamvancam2104 commented on #114
Assigned to @DuqueKarl since it seems that you have enough technical background

[2019-01-15 02:38] phamvancam2104 commented on #105
closed in #110

[2019-01-15 02:38] #105 closed

[2019-01-15 03:11] phamvancam2104 commented on #94
closed in #111

[2019-01-15 03:11] #94 closed

[2019-01-15 03:13] phamvancam2104 commented on #114
Assigned to me since @DuqueKarl confirmed that he is not able to solve this issue.

[2019-01-16 02:30] phamvancam2104 commented on #114
Reassigned to @DuqueKarl since he reconfirmed with me that he can do it

[2019-01-16 10:47] nyeates commented on #109
It is in usable state but not complete. Gets user to point of having
started their full node (but not checking status or registering for MN
candidacy etc). I have not yet had chance to work on it this week but now
that all my Masternodes are up finally, I hope to get some time on the
later half of this week.

I am unsure yet how to integrate this page into the docs site. Do we just
put it into the

[2019-01-17 04:15] etienne-napoleone opened #115 "Edit slashing article to replace bad wording"
**Estimated time:** 30m

---------------

**Why:**
The wording can be a bit offending for active masternode owner who see their node slashed because of our codebase problems

**What:**
Replace "lazy masternodes" by a better wording in https://medium.com/tomochain/tomochain-slashing-mechanism-for-network-stability-and-performance-cd7e7a9320f7

[2019-01-18 08:19] phamvancam2104 commented on #115
The output of this issue is to have comments on the medium article and I'll resolve it later.

[2019-01-18 08:32] etienne-napoleone commented on #115
"under performing"? Might be more neutral

[2019-01-18 08:44] nyeates commented on #115
Under performing is best. I had chosen weak over this, because it was easier to say :-)

This is a generalized long-term document. I do not think you need to take into account the MNs that get knocked off from stuck blocks....this will hopefully fade over time.... I sure hope so, for my health hahaha!

...But it should take into account when nodes cannot keep up with blocks because they are under

[2019-01-18 08:45] phamvancam2104 opened #116 "Create content for TomoWallet tab page describing its supported features"
**Estimated time:** [4h]h

---------------

(**Why:**)
We need a tab page on docs.tomochain.com to show the supported features to TomoWallet, especially the ability of voting and tracking rewards for voters and masternodes.

**What:**
The content should be around the features supported by TomoWallet:

- Create new wallet
- Send/receive/store TOMO
- Track rewards for voters and masternodes
- Vote f

[2019-01-18 08:48] nyeates commented on #109
@phamvancam2104 or @etienne-napoleone where do I find the document that needs to reference this masternode guide? I want to begin to integrate it into the docs menu system etc. Once I learn, I can make other potential organizational changes too... thanks.

[2019-01-18 08:53] phamvancam2104 commented on #109
@nyeates Can we replace the content of this page https://docs.tomochain.com/masternode/requirements/ with what you are writing?

[2019-01-18 08:53] phamvancam2104 commented on #115
Accepted `underperforming`

[2019-01-18 09:00] phamvancam2104 commented on #115
Lazy in the article has been replaced with `underperforming`.

[2019-01-18 09:00] #115 closed

[2019-01-18 09:06] etienne-napoleone commented on #109
As we discussed during the meeting, this is supposed to be part of the reorganization of the "get-started" section if I'm not mistaken

[2019-01-18 09:06] nyeates commented on #109
The vision that @etienne-napoleone explained was that the "get started" section becomes oriented at particularly common use-cases and they are more step-by-step guide-like. Whereas the content under those other sections are like technical deep-dives and not as much step-wise.... more matter-of-fact. There would be content overlap.

Some of the content on https://docs.tomochain.com/masternode/requi

[2019-01-18 09:09] nyeates commented on #109
I see the mkdocs.yml which might answer my question....will mess with this tomomorrow.

[2019-01-18 09:14] phamvancam2104 commented on #109
Yes. It is.

@etienne-napoleone @nyeates I think the getting started page should not be as long as this awesome guide. As an ordinary user, I'd to have a first overview about the masternode and the requirements for it, which should then point to this detailed, step-by-step guide. For me, putting the content of this https://docs.tomochain.com/masternode/requirements/ in Getting started page, and pu

[2019-01-18 09:20] etienne-napoleone commented on #109
It's really up to you, but to me the difficulty here is to not mix tutorial, articles, howtos, technical documentation, etc.

How I see it is that the `masternode` section is really the technical documentation like you would do one for an api or so.
For ex. the readme of the `tmn` redirect to https://docs.tomochain.com/masternode/tmn/ .
Where the get started part could be an opinionated how-to wit

[2019-01-18 15:55] phamvancam2104 opened #117 "Update FAQ with additional questions and answers"
**Estimated time:** [1]h

---------------

(**Why:**)
@DuqueKarl would like to update FAQ with additional questions and answers.

**What:**
Add additional questions and answers.

[2019-01-19 04:57] nyeates opened #118 "Decide organization of tomo docs"
(**Why:**) We need a path forward on how to organize the docs.tomochain.com website, as well as the overall feel/strategy of docs generally.

**What:**
* Decide how the sites hierarchy is structured generally.
* Centralize everything on docs.tomo or allow other sources which can graduate to docs.tomo?
  * ex: wiki's, blogs, medium articles

**Background:** When @etienne-napoleone handed off to @ph

[2019-01-19 05:03] nyeates commented on #118
Bringing over discussion that [started here](https://github.com/tomochain/docs/issues/109)...

@phamvancam2104 commented:
@etienne-napoleone @nyeates I think the getting started page should not be as long as this awesome masternode guide. As an ordinary user, I'd to have a first overview about the masternode and the requirements for it, which should then point to this detailed, step-by-step guide.

[2019-01-19 07:18] nyeates commented on #118
# Docs Research

## How Docker does docs
* https://docs.docker.com

Hierarchical and Centralized. Split into Guides vs Product Manuals. They seem to *try* to separate tutorials vs technical info, but often it intermixes. Seems very groomed. Uninviting for community-created-content. Most users are technical by default - no "wallet users".

## How Ethereum does docs
* http://www.ethdocs.org/
* https

[2019-01-19 09:09] nyeates commented on #118
After doing a deep dive on others docs sites, I have some thoughts. Guides are the vast majority of docs on other sites. All three projects successfully weave guided-docs into the same hierarchy (folders/categories) as technical-docs. However, they are not often mixed _within the same document_.

**Hierarchy ideas:**
* Rename "Get Started" as "Common Tasks"
  * This becomes @etienne-napoleone 's u

[2019-01-19 09:13] nyeates commented on #118
By the way... Tron and Eth's focus: dApps and developers. 80% is towards this.

[2019-01-21 02:59] damvananh91 commented on #118
Hi @nyeates thank you very much for your information.

`Organic-Hierarchy mix. We are already kind of doing this with a mix of docs.tomochain.com, wiki, medium articles`: In fact, this is also my question for the purpose of the tech writing team.
- Are we going to write analysis-oriented documentation or developer guide-oriented documentation? Well, I thought it should be the second one. However,

[2019-01-21 03:01] phamvancam2104 commented on #118
Hi @nyeates thank you very much for your information.

- Organic-Hierarchy mix. We are already kind of doing this with a mix of docs.tomochain.com, wiki, medium articles: In fact, this is also my question for the purpose of the tech writing team.

- Are we going to write analysis-oriented documentation or developer guide-oriented documentation? Well, I thought it should be the second one. However,

[2019-01-21 07:51] phamvancam2104 commented on #116
Hi @patrickburm do you have any progress on this issue?

[2019-01-22 04:05] phamvancam2104 opened #119 "Write an overview of TomoChain's products and a guide for readers to read our documentation page"
**Estimated time:** [12]h

---------------

(**Why:**)
We need an overview of TomoChain's products and a guide for readers to read our documentation page, depending on their interest.

**What:**
We will reorganize the getting started tab to ease readers to read our documentation page.

* What are TomoChain's products and how they are all linked together.
* Depending on the interest of a reader (vo

[2019-01-22 04:07] phamvancam2104 commented on #119
Assigned to @phamvancam2104
Reviewed by @etienne-napoleone @nyeates

[2019-01-23 06:52] DuqueKarl commented on #114
Medium Draft for revision:
https://medium.com/@dkarl/how-to-build-a-dapp-on-tomochain-85532a1192e7

[2019-01-23 09:01] phamvancam2104 commented on #114
Thanks @DuqueKarl let me have a look!

[2019-01-23 10:08] phamvancam2104 commented on #114
I added some comments on the article, most of them are minor.

The only major (not really major) change should be using the mobile version TomoWallet instead of web app version to create a wallet.

[2019-01-23 17:20] phamvancam2104 opened #121 "Writing a tutorial on how to deploy an ICO smart contract on TomoChain"
**Estimated time:** [8]h

---------------

(**Why:**)
Some of our partners are confused about doing an ICO smart contract on TomoChain and would like to have a tutorial.

**What:**
Take an ICO smart contract from any ICO project, e.g. TomoChain ICO contract (https://github.com/tomochain/ico-contracts).
The article should explain some important concepts such as TRC-20, total supply, whitelist, ICO

[2019-01-23 17:21] phamvancam2104 commented on #121
Assigned to @DuqueKarl because he knows how to deploy a smart contract.
Reviewed by @phamvancam2104

[2019-01-24 08:36] damvananh91 commented on #118
Please refer this https://github.com/tomochain/docs/tree/tw/119 for organization of our doc site.

[2019-01-24 08:37] phamvancam2104 commented on #118
Please refer this https://github.com/tomochain/docs/tree/tw/119 for organization of our doc site.

[2019-01-28 23:48] phamvancam2104 commented on #117
closed in #124

[2019-01-28 23:48] #117 closed

[2019-01-28 23:48] #114 closed

[2019-01-28 23:50] phamvancam2104 commented on #109
closed in #112

[2019-01-28 23:50] #109 closed

[2019-01-28 23:53] #118 closed

[2019-01-29 06:39] phamvancam2104 commented on #116
Closed in #113

[2019-01-29 06:39] #116 closed

[2019-01-29 07:00] phamvancam2104 commented on #119
closed in #122

[2019-01-29 07:00] #119 closed

[2019-01-31 21:11] nyeates opened #125 "Node status sync page"
**Estimated time:** 2-4h

---------------

(**Why:**) Its one of the major steps when creating a masternode (or even just a regular tomo node).

**What:**

[2019-02-01 02:35] nyeates opened #128 "Create MN Naming doc"
**Estimated time:** 2h

---------------

(**What:**) master.tomochain.com allows masternode operators to give a name and put info about their node onto their site in a decentralized fashion. Instructions could be uploaded to make it more obvious.

[2019-02-01 03:59] nyeates opened #129 "Bring Wallets document over to official docs page"
**Estimated time:** 1-3h

---------------

(**Why:**) Having a key document on Google docs looks unprofessional and unpolished. We are slowly trying to get all docs over to docs.tomochain.com.

**What:**
* http://bit.ly/2A6zrC7

Bring this wallet instructions document over to official docs page. Along with all screenshots. It is likely one of the most important pages to new users and voters as the

[2019-02-11 09:08] etienne-napoleone opened #131 "Rework masternode section structure"
**Estimated time:** 1h

---------------

**Why:**
Current hierarchy is not really consistent

**What:**
Put all the different specific ways to run a masternode in a subcategory with more standard names.

[2019-02-12 11:13] phamvancam2104 commented on #131
closed in #132

[2019-02-12 11:13] #131 closed

[2019-02-13 04:42] phamvancam2104 commented on #129
We already have this on our docs site (https://docs.tomochain.com/get-started/wallet/)

[2019-02-13 04:44] phamvancam2104 commented on #129
Closed because it overlaps with this https://docs.tomochain.com/get-started/wallet/

[2019-02-13 04:44] #129 closed

[2019-02-13 06:53] phamvancam2104 commented on #128
this document should be 2h maximum because of its simplicity

[2019-02-13 06:55] phamvancam2104 commented on #125
Reduce the duration to 1.5h maximum because of the simplicity of the issue (no research needed, short, and straight)

[2019-02-13 07:05] phamvancam2104 commented on #125
After review, I think it is much simpler than I think (given the time it took you to finish the detailed guide). Reduced to 1h.

[2019-02-13 09:18] etienne-napoleone opened #133 "Document create-tomochain-masternode"
**Estimated time:** --h (irrelevant)

---------------

**Why:**
New tool coming up to run masternodes for beginners to intermediate level. Needs to be documented

**What:**
- [x] readme
- [x] docs tutorial

[2019-02-18 10:28] etienne-napoleone commented on #133
Waiting for some reviews

[2019-02-23 12:55] DuqueKarl commented on #121
Submitted for review:

https://medium.com/p/782142d95538/

[2019-02-25 02:15] phamvancam2104 commented on #121
thanks @DuqueKarl

[2019-02-25 09:37] DuqueKarl commented on #121
Thanks @phamvancam2104 . Updated the article with your comments and suggestions there

[2019-02-25 09:43] phamvancam2104 commented on #121
Thanks @DuqueKarl I have talked to @alex9121 about publications

[2019-02-25 09:44] phamvancam2104 commented on #121
Closed by this article https://medium.com/p/782142d95538/

[2019-02-25 09:44] #121 closed

[2019-02-25 09:53] #133 closed

[2019-02-27 03:18] phamvancam2104 opened #138 "Write a tutorial on how to deploy an NFT tokens on TomoChain"
**Estimated time:** [10]h

---------------

(**Why:**)
As more and more applications are willing to use NFT tokens, especially blockchain gaming and enterprise-oriented applications, a tutorial on deploying NFT tokens on TomoChain is definitely necessary.

**What:**
I think the article should mainly explain:

- Differences between a fungible token and a non-fungible token (NFT)
- Show some use-cas

[2019-02-27 03:19] phamvancam2104 commented on #138
Assigned to @DuqueKarl as he has accumulated enough experience through his recently written two articles on deploying smart contracts on TomoChain.
Reviewed by @phamvancam2104

[2019-02-28 00:20] Denni-Lovejoy commented on #56
Hey, I'd like to do the two tutorials needed for Tomochain listed here on Github; "Video on how to vote from A to Z" & "Video on how to run a masternode from A to Z". Who can I speak with regarding answering any technical questions? And who can I speak with regarding submitting a proposal for these two videos?

[2019-03-04 08:11] phamvancam2104 commented on #56
Thanks @Denni-Lovejoy for your interest in the issue. However, as this video now becomes useless (since voting now is intuitive and no need for a demo video) .I'll then close the issue.

[2019-03-04 08:11] #56 closed

[2019-03-04 08:12] phamvancam2104 commented on #55
I closed it because there are already enough resource for masternode owners to run a masternode.

[2019-03-04 08:12] #55 closed

[2019-03-11 03:46] etienne-napoleone commented on #93
Any update @patrickburm ?

[2019-03-15 02:18] thanhson1085 opened #139 "Not easy to share FAQ question"
I agree that use "quote" for the question make FAQ quite nice.
But "quote" is not SEO friendly and not easy to share the question for other people.

Use "header" for the question is make the page more SEO friendly and easy to share.
e.g:

Current:
[code]

should change to:
[code]

So if i want to share the question to people, I can use this link: `https://docs.tomochain.com/general/faq/#what-is-to

[2019-03-15 02:20] damvananh91 commented on #139
Agree for SEO-friendly.

[2019-03-15 02:22] phamvancam2104 commented on #139
Agree for SEO friendly

[2019-03-22 02:00] DuqueKarl commented on #138
Draft ready for publishing:
https://medium.com/p/fe476a68594d/

[2019-03-22 11:04] xchng opened #141 "GnuPG 2.0"
**Estimated time:** [10]m

---------------

(**Got an error while following MN installation guide. At the Install Docker Repositories paragraph**)

**What:**
After sending the command
`curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -`

I got the following error:

Solution: User should install GnuPG 2.0 when it's not on system yet with following command
`sudo apt-get ins

[2019-03-25 07:15] phamvancam2104 commented on #138
The article is reviewed and looks good to publish.

[2019-03-25 07:15] #138 closed

[2019-03-25 07:25] phamvancam2104 opened #142 "Explaining TomoChain's new products: TomoX, TomoDEX, and TomoSwap"
**Estimated time:** [5]h

---------------

(**Why:**)
As many people are confused or not quite clear about TomoChain new products including TomoX, TomoDEX, and TomoSwap, a medium article to explain and distinguishing these products should be valuable.

**What:**
Explain clearly and simple terms what are TomoX, TomoDEX, and TomoSwap.
Explain the differences between these products and describe how (

[2019-03-25 07:25] phamvancam2104 commented on #142
Assigned to @DuqueKarl.
Reviewed by @phamvancam2104

[2019-03-27 10:41] DuqueKarl commented on #142
Draft ready for review and comments

https://medium.com/@dkarl/f5868bfb391

[2019-03-27 22:20] DuqueKarl commented on #139
https://github.com/tomochain/docs/pull/143

[2019-04-01 04:34] phamvancam2104 commented on #142
closed as the medium article has been reviewed by me!

[2019-04-01 04:34] #142 closed

[2019-04-01 04:35] phamvancam2104 commented on #128
closed in #130

[2019-04-01 04:35] #128 closed

[2019-04-01 04:39] phamvancam2104 opened #144 "Convert TomoX whitepaper from google docs format to markdown"
**Estimated time:** [2]h

---------------

(**Why:**)
TomoX whitepaper should appear under Research & whitepaper tab

**What:**
Convert the google docs format for TomoX whitepaper in [here](https://bit.ly/2PCYZjp) to a Markdown document and put it under Research & whitepapers tab in the documentation site.

[2019-04-05 09:22] phamvancam2104 opened #146 "tutorial “how to use Ledger Nano S with Mycrypto”"
**Estimated time:** [3h]h

---------------

(**Why:**)
Some TOMO holders are not able to use Ledger Nano S with MyCryptp

**What:**
The tutorial should show step-by-step how to connect and use Ledger Nano S with TomoChain. The instructions should include using both Eth App and Tomo App on Ledger Nano S

[2019-04-09 02:12] thanhson1085 commented on #146
Mycrypto does not support Eth on Ledger, So I close this issue.

[2019-04-09 02:12] #146 closed

[2019-04-19 04:01] phamvancam2104 commented on #139
closed in #143

[2019-04-19 04:01] #139 closed

[2019-04-19 04:13] phamvancam2104 opened #147 "Tutorial on how to setup a TomoChain private net"
**Estimated time:** [8]h

---------------

(**Why:**)
As the number of people/partners interested in TomoChain incerases, we need a technical tutorial on how to setup a TomoChain private net.

**What:**
The structure could be
(1) How TomoChain network works in a big picture
(2) Set-up enviroment: golang, docker, clone source code if needed
(3) Set-up genesis block with 3, 4, or 5 nodes, possibly c

[2019-04-22 10:15] etienne-napoleone opened #148 "Article on RPC stability improvment"
**Estimated time:** 1h

---------------

**Why:**
RPC channel was down during provider outage

**What:**
Explain what we've done to make our main RPC channel more resilient.
Also a quick explanation on RPC, how it works, who can provide it and why dapps were not working when ours was down.

[2019-05-21 07:32] phamvancam2104 commented on #147
closed in #151

[2019-05-21 07:32] #147 closed

[2019-05-31 06:45] etienne-napoleone commented on #93
Let's close that, it's not necessary

[2019-05-31 06:45] #93 closed

[2019-05-31 06:48] etienne-napoleone opened #157 "Rework the detailed guide for docker-compose instead of tmn"
**Estimated time:** 1/2h

---------------

**Why:**
Create-tomochain-masternode + docker-compose is now the recommended way of running a masternode.

**What:**
Update the doc to use those tools instead of tmn

[2019-05-31 06:49] etienne-napoleone commented on #157
Could you take care of that @nyeates as you wrote the initial guide ?

[2019-05-31 06:49] etienne-napoleone commented on #141
If you do take https://github.com/tomochain/docs/issues/157 , please incorporate that change too, thanks!

[2019-06-12 04:45] etienne-napoleone commented on #157
@phamvancam2104 If @nyeates is not available at this time, can you please find another writer? Thanks

[2019-06-19 08:58] thanhson1085 opened #158 "Run a node with TomoChain binary"
**Estimated time:** [8]h

---------------

(**Why:**)
Some partners want to run node from binary to easy to control the parameter

**What:**
1. Clone source code, install Golang, build binary
2. Setup wallets, genesis
3. Run node connect mainnet, stats page

Update this page: https://docs.tomochain.com/masternode/tomonative/

[2019-06-19 09:03] ngtuna commented on #158
@thanhnguyennguyen After this, can you also update README page ? it has the same content https://github.com/tomochain/tomochain/blob/master/README.md

[2019-06-19 09:59] thanhnguyennguyen commented on #158
Sure

[2019-06-22 01:42] phamvancam2104 opened #159 "Write an article comparing TomoX-Relayers and 0x"
**Estimated time:** [6h]h

---------------

(**Why:**)
TomoX-Relayer protocol share some similarities but also significant differences with 0x protocol. Comparing these two protocols would show the advantages of TomoX because it is integrated at the core layer.
**What:**
The article should compare TomoX and 0x on both technical and economics aspects and some advantages of TomoX such as full decent

[2019-06-24 15:51] #158 closed

[2019-07-08 20:21] DuqueKarl commented on #159
Here is the draft for revision, thanks!

https://medium.com/@dkarl/c0bdc029467e

[2019-10-07 21:58] JVsGithub opened #167 "Do rewards need to be claimed?"
**Estimated time:** [xx]h

---------------

(**Why:**)

**What:**
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

[2019-12-19 16:54] mgrrasmussen opened #169 "TOMO Voting"
I recently voted using my balance of TOMO.  I have since restored the wallet on my Mac computer and ioS phone, but I see a zero balance, and a zero Voting balance.  I viewed all three pages of possible Candidates, and none of them show an "Unvote" button that would indicate that I had assigned my TOMO to them.

The Tomo Master Voter page shows no balance, no transactions, and "Total Voted"- zero

[2019-12-20 05:58] thanhson1085 commented on #169
Hi @mgrrasmussen,
If you voted on TomoMaster, and you want to unvote.
Follow steps:
- Unlock wallet
- Go voter page
- Click masternode you voteed
- Click unvote

Video guide: https://www.youtube.com/watch?v=Fvg_4bppZoc

[2019-12-20 16:45] mgrrasmussen commented on #169
Thank You for answering.

My wallet is unlocked
I went to Voter page
I don't see any Unvote buttons
I show a zero balance, and 0 votes

<img width="712" alt="Screen Shot 2019-12-20 at 8 41 54 AM" src="https://user-images.githubusercontent.com/43940417/71269642-adbe6980-2304-11ea-9632-2b95668987f4.png">

[2019-12-21 05:40] thanhson1085 commented on #169
You have to make sure that you unlock the correct wallet. Need to check wallet address

[2020-01-29 04:41] qamarshah786 opened #170 "BitGold BG"
hello please logo my coin and srt price 1$